<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="logPath">logs</Property>
        <Property name="appLogFile">app</Property>
        <Property name="generalLogFile">general</Property>
    </Properties>

    <Appenders>
        <Console name="AppToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <File name="AppToFile" fileName="${logPath}/${appLogFile}.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %p\t%c{1.}: %m%n" />
        </File>
        <File name="AllToFile" fileName="${logPath}/${generalLogFile}.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %p\t%c{1.}: %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <logger name="appLog" level="ALL">
            <appender-ref ref="AppToConsole" level="INFO" />
            <appender-ref ref="AppToFile" level="DEBUG"/>
        </logger>
        <root level="ALL">
            <appender-ref ref="AllToFile" level="ALL" />
        </root>
    </Loggers>

</Configuration>